.Pokegame{
    display: flex;
    flex-direction: column;
  
}

.Pokegame-player {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
}

.Pokegame-cards{
    display: flex;
    justify-content: space-around;

}

.Pokegame-result{
    font-size: 30px;
    color: white;
}

.Pokegame-win {
    background-color: rgb(103, 202, 103);
}

.Pokegame-lose {
    background-color: rgb(231, 154, 154);
}