.Pokecard {
    display: flex;
    flex-direction: column;
    width: 250px;
    margin: 10px;
    background-color: #D3D3D3;
    border-radius: 5px;
    box-shadow: 1px 2px 5px #000  ;
}

.Pokecard-img {
    width: 100px;
    height: 100px;
    align-self: center;
    cursor: pointer;
}

.Pokecard-img:hover {
    transform: scale3d(1.5 , 1.5 , 1.5) rotate(20deg);
    transition: 1s ease-in;
}

.Pokecard-exp-show{
    visibility: visible;
    color: firebrick;
    font-weight: bold;
    font-size: 25px;
}

.Pokecard-exp-hide{
    visibility: hidden;
}