.Pokecard {
    display: flex;
    flex-direction: column;
    width: 20%;
    margin: 10px;
    background-color: #D3D3D3;
    border-radius: 5px;
    box-shadow: 1px 2px 5px #000  ;
}

.Pokecard-img {
    width: 100px;
    height: 100px;
    align-self: center;
}